.delete-btn {
  /* float: center;
  background-color: "#32485C"; 
  color: "white";
  font-weight: "bold"; 
  font-size: "28px";
  display: "flex"; 
  justify-content: "center";  
  align-items: "center";  */
}
